 <div>
   <h4><b>Ex5- Read data from server with certain buttons</b></h4>
   <span><jce-post-form (postAddedEvent)="addPost($event)"></jce-post-form></span>
   <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>
   <ul class="list-group posts"> 
    <li *ngFor="let post of posts"  
    [class.active]="currentPost == post"
    (click)="select(post)" 
    class="list-group-item">
      <jce-post [post]="post"
      (deleteEvent)="deletePost($event)"
      (editEvent)="updatePost($event)"></jce-post>
    <ul>
      <li *ngFor="let name of post.userNames">
        {{(name | async)?.name}}
      </li>
    </ul>
     </li>
   </ul>
   <hr>
 </div>
